<!-- <div class="bg-body-tertiary py-5">
    <div class="container">
        <h4>Get The Fresh Cart App</h4>
        <p>We Will send you a link, open it on your phone to download the app</p>
        <div class="d-md-flex">
            <input class="w-75 form-control mx-md-auto" placeholder="Email..">
            <button class="btn text-white">Send App Link</button>
        </div>
        <div class="d-md-flex justify-content-md-between">
            <div class="d-md-flex w-75 align-items-md-center">
                <span>Payment Partners</span>
                <img class="img-fluid " src="./assets/images/amazon.png">
                <img class="img-fluid " src="./assets/images/Jumia-Logo.png">

            </div>
            <div class="w-25">
                <img src="./assets/images/google-store.png">
                <img src="./assets/images/App_Store.svg">
            </div>
        </div>
    </div>
</div> -->