<div class="w-75 my-md-5 mx-md-auto">
    <h4 class=" h3 text-main">Register Now</h4>
    <h5 >{{errMessage}}</h5>

    <form [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
        <div class="my-md-3">
            <label>Name:</label>
            <input formControlName="name" class="form-control">
            @if(registerForm.get('name')?.errors && registerForm.get('name')?.touched)
            {
            <div class="alert alert-danger ">
                @if (registerForm.get('name')?.errors?.['required'])
                { <p>Name is required</p>
                }
                @else if (registerForm.get('name')?.errors?.['minlength']) {
                <p>Name should be more than or equals 3 char</p>

                }
                @else if (registerForm.get('name')?.errors?.['maxlength']) {

                <p>Name should be less than or equals 20 char</p>}
            </div>
            }
        </div>
        <div class="my-md-3">
            <label>Email:</label>
            <input formControlName="email" class="form-control">
            @if(registerForm.get('email')?.errors && registerForm.get('email')?.touched)
            {

            <div class="alert-danger alert">
                @if(registerForm.get('email')?.errors?.['required']){
                <p>Email is required</p>
                }
                @else if (registerForm.get('email')?.errors?.['email']) {
                <p>Kindly enter a valid email</p>
                }
            </div>}
        </div>
        <div class="my-md-3">
            <label>Phone:</label>
            <input formControlName="phone" class="form-control">
            @if(registerForm.get('phone')?.errors && registerForm.get('phone')?.touched)
            {

            <div class="alert-danger alert">
                @if(registerForm.get('phone')?.errors?.['required']){
                <p>Phone is required</p>
                }
                @else if (registerForm.get('phone')?.errors?.['pattern']) {
                <p>Kindly enter a valid phone</p>
                }
            </div>}
        </div>
        <div class="my-md-3">
            <label>Password:</label>
            <input formControlName="password" class="form-control">
            @if(registerForm.get('password')?.errors && registerForm.get('password')?.touched)
            {

            <div class="alert-danger alert">
                @if(registerForm.get('password')?.errors?.['required']){
                <p>Password is required</p>
                }
                @else if (registerForm.get('password')?.errors?.['pattern']) {
                <p>Kindly enter a valid password</p>
                }
            </div>}
        </div>
        <div class="my-md-3">
            <label>rePassword:</label>
            <input formControlName="rePassword" class="form-control">
            @if(registerForm.get('rePassword')?.errors && registerForm.get('rePassword')?.touched)
            {

            <div class="alert-danger alert">
                @if(registerForm.get('rePassword')?.errors?.['required']){
                <p>rePassword is required</p>
                }
                @else if (registerForm.get('rePassword')?.errors?.['pattern']) {
                <p>Kindly enter a valid rePassword</p>
                }
            </div>}
        </div>

        @if(registerForm.errors){
            <div class="alert alert-danger">
                <p>Password Mismatched</p>
            </div>
        }



        <button [disabled]="registerForm.invalid" type="submit"
            class=" bg-main text-white border-0 rounded-1 p-md-1 d-md-block ms-md-auto">Register Now
            
            @if (isLoading) {
                <i class="fa-solid fa-spinner fa-spin"></i>

            }
            
        
        </button>
    </form>
</div>
