<h1 class="text-main text-center fw-semibold">Forget Passwod</h1>
<br>
<!-- 
=========Email=========
@if(!isCodeForm && !isNewPassForm){
    <form [formGroup]="emailForm" (ngSubmit)="verifyBtn()">
        <div class="mb-5 mx-md-auto w-3/4">
    
    
            <label for="email" class="mb-3 block text-base font-medium text-green-500">
                Email </label>
            <input formControlName="email" type="email" id="email" placeholder="Enter Your Email"
                class="w-full appearance-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-green-500 focus:shadow-md" />
    
    
            @if(emailForm.get('email')?.errors && emailForm.get('email')?.touched)
            {
    
            <div class="alert-danger alert">
                @if(emailForm.get('email')?.errors?.['required']){
                <p>Email is required</p>
                }
                @else if (emailForm.get('email')?.errors?.['email']) {
                <p>Kindly enter a valid email</p>
                }
            </div>}
    
    
            <div class="d-md-flex justify-content-md-end gap-md-2">
                <button class=" bg-main text-white border-0 rounded-1 p-md-1 ms-md-auto my-md-3">Verify
    
                    @if (isLoading) {
                    <i class="fa-solid fa-spinner fa-spin"></i>
    
                    }</button>
    
            </div>
        </div>
    
    </form>
}  -->



<!-- ==========Code=========
@if(isCodeForm){
    <form [formGroup]="codeForm" (ngSubmit)="codeBtn()">
        <div class="mb-5 mx-md-auto w-3/4">
    
    
            <label for="code" class="mb-3 block text-base font-medium text-green-500">
                Code </label>
            <input formControlName="resetCode" type="email" id="code" placeholder="Code"
                class="w-full appearance-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-green-500 focus:shadow-md" />
    
            <div class="d-md-flex justify-content-md-end gap-md-2">
                <button class=" bg-main text-white border-0 rounded-1 p-md-1 ms-md-auto my-md-3">Code
    
                    @if (isLoading) {
                    <i class="fa-solid fa-spinner fa-spin"></i>
    
                    }</button>
    
            </div>
    
        </div>
    </form>
    
}  -->


<!-- 
===== New Password ====
 @if(isNewPassForm){
    <form [formGroup]="resetPassForm" (ngSubmit)="newPassBtn()">
        <div class="mb-5 mx-md-auto w-3/4">
            <label for="email" class="mb-3 block text-base font-medium text-green-500">
                Email </label>
            <input formControlName="email" type="email" id="email" placeholder="Enter Your Email"
                class="w-full appearance-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-green-500 focus:shadow-md" />
            <br>
            <br>
    
            <label for="password" class="mb-3 block text-base font-medium text-green-500">
                New Password </label>
            <input formControlName="newPassword" type="password" id="password" placeholder="New Password"
                class="w-full appearance-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-green-500 focus:shadow-md" />
            
                @if(resetPassForm.get('newPassword')?.errors && resetPassForm.get('newPassword')?.touched)
                {
    
                <div class="alert-danger alert">
                    @if(resetPassForm.get('newPassword')?.errors?.['required']){
                    <p>newPassword is required</p>
                    }
                    @else if (resetPassForm.get('newPassword')?.errors?.['pattern']) {
                    <p>Kindly enter a valid password</p>
                    }
                </div>}
            
            
            
                <div class="d-md-flex justify-content-md-end gap-md-2">
                <button class=" bg-main text-white border-0 rounded-1 p-md-1 ms-md-auto my-md-3">New Password
    
                    @if (isLoading) {
                    <i class="fa-solid fa-spinner fa-spin"></i>
    
                    }</button>
    
            </div>
    
        </div>
    </form>
    
 } -->